.game-container{
    text-align: center;
}
html{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P';
}
.home{
    width: 505;
    height: 505;
    
}
button{
    background-color: teal;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Press Start 2P';
    margin-bottom: 30px;
    padding: 15px 32px;
    text-decoration: none;
}
button:hover{
    background-color: rgb(1, 58, 58);
    border: none;
    padding: 15px 32px;
    text-decoration: none;
}
.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: teal;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: teal;
    cursor: pointer;
}

#buttons-container {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-button {
    background-color: teal;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

#restart-button {
    background-color: teal;
}
#restart-button:hover {
    background-color: rgb(1, 68, 68);
}
#home-button {
    background-color: orange;
}
#home-button:hover {
    background-color: rgb(197, 128, 0);
}

